<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Input</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link  th:href="@{css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>


<div th:replace="navbar"></div>


<div class="container mt-5">
    <h2 class="text-center mb-4">Word Input</h2>

    <!-- Message Alert -->
    <p th:if="${message}" th:text="${message}" class="alert alert-danger"></p>

    <!-- Word Input Form -->
    <div class="card">
        <div class="card-body">
            <form action="/getWord" method="post" class="mt-4">
                <!-- Word Image -->
                <div class="mb-3 text-center">
                    <img th:src="@{'/' + ${GivenImage}}" class="word_image img-fluid" alt="Word Image" />
                </div>

                <!-- Hints -->

                <h4 class="text-center" th:text="${GivenHints}"></h4>

                <!-- Word Input -->
                <div class="mb-3">
                    <label for="word" class="form-label">Your Guess:</label>
                    <input type="text" id="word" name="word" class="form-control" placeholder="Enter your word" required>
                </div>

                <!-- Submit Button -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Submit Your Guess</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="footer"></div>
<script th:href="@{js/bootstrap.bundle.min.js}" ></script>
</body>
</html>
